<div class='job'>
  <%= form_for(@job) do |f| %>
      <%= f.text_field :title %>
      <%= f.text_field :organization %>
      <%= f.text_field :city %>
      <%= f.text_field :salary %>
      <%= f.date_field :applied_date %>
      <%= f.submit "Update"%>
    <% end %>
</div>
