

<table>
  <%= form_tag(jobs_path, :method => "get", class: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Job Titles" %>
  <%= submit_tag "Search Job Titles", class: 'button' %>
  <%= link_to "Clear Search", jobs_path, class: "button" %>
  <% end %>
  <thead>
    <tr>
      <th>Title</th>
      <th>Organization</th>
      <th>City</th>
      <th>Salary</th>
      <th>View</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>

    <% @jobs.each do |job| %>
    <tr>
        <td><%= job.title %></td>
        <td><%= job.organization %></td>
        <td><%= job.city %></td>
        <td><%= job.salary %></td>
        <td><%= link_to 'View', job_path(job) %></td>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to "Delete", job_path(job), method: "DELETE" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<button class="button"><%= link_to 'Add Job', 'jobs/new' %></button>
